extracted_*_images/
Fashion-*/
full_*/
generated_*/
*_cache/
retrieve_*/
.DS_Store
webdataset_shards/
__pycache__/
checkpoints/
evaluation_results.json
evaluation_results_checkpoint.json
test.*
evaluations/
webdataset_shards*

caption_augmentation.py

*.pt

notebooks/
*_test.*

*.json*

*.jsonl